@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* @import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css"; */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
  --main-color: #0b0b0b;
  --button-color: #e50914;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

.button {
  border: none;
  background: var(--button-color);
  color: white;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.swiper {
  min-width: 0 !important;
  margin-left: 4% !important;
  margin-right: 4% !important;
  overflow-y: visible !important;
}
@media (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}
